{% extends "layout.twig" %}

{% block content %}

        <h1 class="display-4">Add Job</h1><br>

        {% if responseMessage %}
            <div class="alert alert-info" role="alert">
                {{ responseMessage }}
            </div>
        {% endif %}

        <form action="/admin/jobs/add" method="POST" enctype="multipart/form-data">
            <label for="">Title</label><br> 
            <input type="text" class="text" name="title"><br>
            <label for="">Description</label><br>
            <input type="text" class="text" name="description"><br>
            <input type="file" name="logo"><br>
            <button class="btn btn-outline-primary" type="submit">Save</button>
        </form>


{% endblock %}