{% extends "layout.twig" %}

{% block content %}

        <h1 class="display-4">Add User</h1>

        {% if responseMessage %}
            <div class="alert alert-info" role="alert">
                {{ responseMessage }}
            </div>
        {% endif %}

        {% if findMessages %}
            <div class="alert alert-primary"role="alert">
                <ul>
                {% for fm in findMessages %}
                   {% if fm != "" %}
                    <li>{{ fm }}</li>
                   {% endif %}
                {% endfor %}
                </ul>
            </div>
        {% endif %}

        <form action="/admin/users/add" method="post" enctype="multipart/form-data">
            <label for="">Usuario:</label><br>
            <input type="email" class="text" name="name"/><br>
            <label for="">Password:</label><br>
            <input type="password" class="text"  name="password"/><br>
            <label for="">Confirm Password:</label><br>
            <input type="password" class="text" name="passwordc"/><br>
            <button class="btn btn-outline-primary" type="submit">Save</button>
        </form>
        
{% endblock %}