{% extends "layout.twig" %}

{% block content %}

<h1> Dashboard </h1>

<ul>
    <li><a href="/admin/users/add">Add User</a></li>
    <li><a href="/admin/projects/add">Add Project</a></li>
    <li><a href="/admin/jobs">Delete Jobs</a></li>
</ul>

<li><a href="/logout">Logout</a></li>
</br></br>
{% endblock %}