{% extends "layout.twig" %}

{% block content %}

<div id="resume-header" class="row">
      <div class="col-3">
        <img id="profile-picture" src="https://ui-avatars.com/api/?name=John+Doe&size=255" alt="">
      </div>
      {% for userIn in userInfo %}
      <div class="col">
        <h1>{{ userIn.name }}</h1>
        <h2>{{ userIn.profession }}</h2>
        <ul>
          <li>Mail: {{ userIn.mail }}</li>
          <li>Phone: {{ userIn.phone }}</li>
          <li>Blog: <a href="irinah.com/" target="_blank">{{ userIn.blog }}</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h2 class="border-bottom-gray">Carrer Summary</h2><hr>
        <p class="summary-text">
          {{ userIn.summary }}
        </p>
      </div>
    </div>
    {% endfor %}
    <div class="row">
      <div class="col">
        <div>
          <h3 class="border-bottom-gray">Work Experience</h3><hr>
          <div class="row">

          {% for job in jobs %}

            <div class="col-12 col-md-3">
              {% if job.image == '' %}
                 <img alt="image" style="width:120px; heigh:90px;" src="uploads/mau.jpeg" alt="image">
                {% else %}
                  <img src="uploads/{{ job.image }}" alt="image" style="width:120px; heigh:90px;">
              {% endif %}
            </div>

            <div class="col-12 col-md-9 work-position">
              <h5><strong> {{ job.title }} </strong></h5>
              <p>{{ job.description }}</p>
            </div>

          {% endfor %}

          </div>
        </div>
        <div>
            <h3 class="border-bottom-gray">Projects</h3><hr>

            
            <div class="row">

              {% for project in projects %}

                <div class="col-12 col-md-3">
                  {% if project.filename == '' %}
                    <img alt="image" style="width:120px; heigh:90px;" src="uploads/mau.jpeg" alt="image">
                    {% else %}
                      <img src="uploads/projects/{{ project.filename }}" alt="image" style="width:120px; heigh:90px;">
                  {% endif %}
                </div>

                <div class="col-12 col-md-9 work-position">
                  <h5><strong> {{ project.title }} </strong></h5>
                  <p>{{ project.description }}</p>
                </div>

              {% endfor %}

            </div>
          </div>
      </div>
      <div class="col-3">
        <h3 class="border-bottom-gray" >Skills & Tools</h3>
        <h4>Backend</h4>
        <ul>
          <li>PHP</li>
        </ul>
        <h4>Frontend</h4>
        <ul>
            <li>HTML</li>
            <li>CSS</li>
        </ul>
        <h4>Frameworks</h4>
        <ul>
          <li>Laravel</li>
          <li>Bootstrap</li>
        </ul>
        <h3 class="border-bottom-gray" >Languages</h3>
        <ul>
          <li>Spanish</li>
          <li>English</li>
        </ul>
      </div>
    </div>
    <div id="resume-footer" class="row">
      <div class="col">
          Designed by {{ name }}
      </div>
    </div>


{% endblock %}
