
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../../public/css/bootstrap.min.css" type="text/css">


  <title>Resume</title>
</head>

<body>
  <div class="container">

    {% block content %}

    {% endblock %}

  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script href="../../public/js/jquery-3.3.1.slim.min.js" type="text/javascript"></script>
  <script href="../../public/js/popper.min.js" type="text/javascript"></script>
  <script href="../../public/js/bootstrap.min.js" type="text/javascript"></script>

</body>

</html>