{% extends "layout.twig" %}

{% block content %}

        <h1 class="display-4">Login:</h1>
        
        {% if responseMessage %}
            <div  class="alert alert-info" role="alert">
                {{ responseMessage}}
            </div>
        {% endif %}
        
        <form  action="/auth" method="POST" >
            <label for="">Usuario:</label><br>
            <input type="email" class="text" name="name"/><br>
            <label for="">Password:</label><br>
            <input type="password" class="text"  name="password"/><br>
            <button class="btn btn-outline-primary" type="submit">Save</button>
        </form>
{% endblock %}